.home-container {
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home-content {
  width: 90%;
  height: 100%;
  display: flex;
  margin: auto;
}

.home-body {
  width: 50%;
  height: 500px;
  background: linear-gradient(to bottom, #d8cff5, #a9cddc 50%, #81cbc7);
  margin: auto;
  margin-bottom: 90px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.16);
  padding: 10px;
  box-sizing: border-box;
}

@media (max-width: 1200px) {
  .home-body {
    width: 40%;
  }
}

@media (max-width: 600px) {
  .home-body {
    width: 80%;
  }
}
