$font-family: "Roboto", sans-serif;

body {
  margin: 0;
  font-family: $font-family;
  background-color: #f0f7fa;
  //overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.acciones {
  margin: 1rem 0;
}
@media (min-width: 768px) {
  .acciones {
    margin: 0;
  }
}
.acciones > * {
  flex: 1;
}
